<div class="gallery-grid" *ngIf="images$ | async as allImages; else loading">
    <div class="image-item" *ngFor="let img of allImages">
        <a [routerLink]="['/property-details/', img.PropertyId]" class="img-link">
            <div class="img-container">
                <img [src]="'https://localhost:7011' + img.ImageUrl" 
                     alt="Property Image" 
                     (error)="onImageError($event, img.ImageUrl)">
                
                <div class="overlay">
                    <p class="property-title">{{ img.Property?.Title || 'נכס ללא שם' }}</p>
                </div>
            </div>
        </a>
    </div>
</div>

<ng-template #loading>
    <p class="loading-msg">טוען נתונים מהשרת...</p>
</ng-template>